* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  height: 100vh;
  width: 100%;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.af-re {
  padding: 20px;
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 10px 10px 10px rgba(1, 1, 1, 0.2);
}
.adict {
  color: #5286ce;
}
.links {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.social-links {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.toggle-btn{
  display: none;
}
.hide{
  display: none;
}
/* @media screen and (min-width: 1350px) {
  .toggle-btn {
    display: none;
  }
} */

@media (max-width: 1349px) {
  .social-links {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 35vh;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-left: 140px;
  }
  .links li{
    margin-top: 10px;
  }
  .af-re {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 10px 10px 10px rgba(1, 1, 1, 0.2);
  }
  .toggle-btn:hover {
    transform: rotate(90deg);
  }
  .toggle-btn {
    display: flex;
    font-size: 1.9rem;
    color: black;
    background-color: transparent;
    border: none;
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .toggle-btn:hover {
    transform: rotate(90deg);
  }
}
