* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
main {
  background-image: url("./images/hero-bcg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
header {
  background-color: rgba(15, 70, 70, 0.288);
}
.nav-centre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  max-width: 1440px;
  margin: 0 auto;
}
.nav-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo > .nav-toggle {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.nav-toggle:hover {
  transform: rotate(0deg);
}
.logo {
  width: 110px;
  height: 110px;
}
.links-container > ul > li > a {
  text-decoration: none;
  color: black;
}
.links-container > ul > li {
  list-style: none;
  font-size: 1.5rem;
}
.links-container > ul {
  display: flex;
  padding-left: 15px;
  gap: 60px;
}
.links > li > a:hover {
  color: #4bd1d5;
  transition: all 0.3s linear;
}
.banner {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3.8rem;
  margin-bottom: 40px;
}
.container > p {
  font-size: 1.3rem;
  margin-bottom: 40px;
  max-width: 1100px;
}
.btn-white {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 1.4rem;
  padding: 10px 18px;
}
.btn-white:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}
.section {
  height: 100vh;
  text-align: center;
  border: 1px solid black;
}
h2 {
  font-size: 3rem;
}
h2 > span {
  color: #4bd1d5;
}
#footer {
  height: 20vh;
  background-color: cadetblue;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-link {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: white;
  background-color: #4bd1d5;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: none;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(8, 8, 8, 0.445);
}
.top-link > i {
  font-size: 1.4rem;
}
.hide {
  display: none;
}
@media (max-width: 1199px) {
  .nav-centre > .nav-logo > .nav-toggle {
    display: flex;
  }
  .nav-centre {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
  }
  .links {
    flex-direction: column;
    margin-top: 22px;
  }
}

@media (min-width: 1200px) {
  .links-container {
    display: flex;
  }
  .nav-logo > .nav-toggle {
    display: none;
  }
}
